<p>
  <b>Cid:</b>
  <%=h @regapp.cid %>
</p>

<p>
  <b>Token:</b>
  <%=h @regapp.token %>
</p>

<p>
  <b>Key:</b>
  <%=h @regapp.key %>
</p>


<%= link_to 'Edit', edit_regapp_path(@regapp) %> |
<%= link_to 'Back', regapps_path %>