
<%if @item %>
<div style="height:150px;font-size:28pt;background:#eeccff;width:100%;overflow:hidden;text-align:center;border-radius: 20px;">
<%=@item["Comments"]%>
</div>
<div id="highlight" style="width:100%;height:400px;border-bottom:3pt dotted grey;">

	<div style="float:left;font-size:48pt;width:710px;margin-left:10px;">
		<div class="thin_font fittext" style="font-size:58pt;height:150px;width:710px;/*-webkit-text-size-adjust:auto;-webkit-transition:font-size 0.2s ease-out;font-size:1vw;*/"><%=@item["CardName"]%></div>
		<div style="width:600px;float:none;font-size:28pt;color:#333333;height:160px;-webkit-text-size-adjust:auto;overflow:hidden;"><%=@item["Address"]%>&nbsp;<%=@item["Address2"]%></div>
		<!--div class="line" style="color:grey;">
			<div class="pname">DocNum</div>
			<div class="pvalue"><%=@item["DocNum"]%></div>
			<div style="clear:both"></div>
		</div>
		<div class="line" style="color:grey;">
			<div class="pname">DocDate:</div>
			<div class="pvalue"><%=@item["DocDate"]%></div>
			<div class="pname">&nbsp;/&nbsp;DocDueDate:</div>
			<div class="pvalue"><%=@item["DocDueDate"]%></div>
			<div style="clear:both"></div>
		</div-->
	</div>
	<div style="float:right;font-size:50pt;width:315px;">
		<div style="background:#eeeeee;font-size:38pt;padding:3px;margin-top:10px;margin-right:3px;text-align:center;">Invoice&nbsp;#:<%=@item["DocNum"]%></div>
		<!--span style="color:grey;font-size:30pt;"><%=@item["DocumentStatus"]%></span-->
		<% if @item[:DocumentStatus] == "bost_close" %>
		<div style="margin-top:5px;float:left;padding:10px 20px;height:36px;border-radius:10px;background:orange;color:white;font-weight:500;font-size:42pt;line-height:38px;text-align:center;">close</div>
		<% else %>
		<div style="margin-top:5px;float:left;padding:10px 20px;height:36px;border-radius:10px;background:orange;color:white;font-weight:500;font-size:42pt;line-height:22px;text-align:center;">open</div>
		<% end %>
		<div style="color:blue;margin-top:220px;"><%=@item["DocTotal"]%><%=@item["DocCurrency"]%></div>
	</div>
</div>

<!--div id="invoice_content" style="width:100%;">
	<div id="invoice_prop">



		<div class="fline">
			<div class="fname" >Address</div>
			<div class="fvalue" style="float:none;"><%=@item["Address"]%>&nbsp;<%=@item["Address2"]%></div>
			<div style="clear:both"></div>
		</div>
		


		<div class="fline">
			<div class="fname">JournalMemo</div>
			<div class="fvalue"><%=@item["JournalMemo"]%></div>
			<div style="clear:both"></div>
		</div>
		<div class="fline">
			<div class="fname">PaymentMethod</div>
			<div class="fvalue"><%=@item["PaymentMethod"]%></div>
			<div style="clear:both"></div>
		</div>

		<!div class="fline">
			<div class="fname">Comments</div>
			<div class="fvalue"><%=@item["Comments"]%></div>
			<div style="clear:both"></div>
		</div>
	</div--><!-- invoice_prop -->

<% if @item["DocumentLines"] %>
	<div id="invoice_lines" style="width:100%;">
		<div style="width:100%;border-bottom:3px solid #eeeeff;">
			<div class="tab" style="text-align:center;height:100px;width:200px;font-size:38pt;line-height:100px;border-top:1px #eeeeff;border-left:1px #eeeeff;border-right:1px #eeeeff;background-color:#eeeeff;">
				Details:
			</div>
		</div>
<% line_num  = 0
@item["DocumentLines"].each{|dl|
line_num+=1 %>
		<div class="invoice_line_summary thin_font" style="
		<% if line_num /2 *2 == line_num %>
			background:#f2f2f2;
			
		<% end %>width:100%;border-bottom:1px solid grey;height:120px;font-size:42pt;">
			<div style="margin-left:10x;margin-top:10px;width:60%;float:left;color:black;line-height:80px;"><%=dl["ItemDescription"]%></div>
			<div style="margin-left:10x;margin-top:10px;width:20%;float:left;color:black;"><span style="color:#ee9999;">x</span><span style="color:blue;"><%=dl["Quantity"]%></span></div>
			<div style="margin-left:10x;margin-top:10px;width:20%;float:left;color:black;"><span style="color:blue;"><%=dl["Price"]%>$</span></div>
		</div>
		<div style="clear:both"></div>
		<div class="invoice_line" style="display:none;border-bottom:3px dotted blue;">
			<div class="fline">
				<div class="fname">ItemDescription</div>
				<div class="fvalue"><%=dl["ItemDescription"]%></div>
				<div style="clear:both"></div>
			</div>
			<div class="fline">
				<div class="fname">Quantity</div>
				<div class="fvalue"><%=dl["Quantity"]%></div>
				<div style="clear:both"></div>
			</div>
			<div class="fline">
				<div class="fname">Price</div>
				<div class="fvalue"><%=dl["Price"]%></div>
				<div style="clear:both"></div>
			</div>
			<div class="fline">
				<div class="fname">PriceAfterVAT</div>
				<div class="fvalue"><%=dl["PriceAfterVAT"]%></div>
				<div style="clear:both"></div>
			</div>
			<div class="fline">
				<div class="fname">Volume</div>
				<div class="fvalue"><%=dl["Volume"]%></div>
				<div style="clear:both"></div>
			</div>
			<div class="fline">
				<div class="fname">NetTaxAmount</div>
				<div class="fvalue"><%=dl["NetTaxAmount"]%></div>
				<div style="clear:both"></div>
			</div>
			<div class="fline">
				<div class="fname">LineStatus</div>
				<div class="fvalue"><%=dl["LineStatus"]%></div>
				<div style="clear:both"></div>
			</div>
			<div class="fline">
				<div class="fname">GrossBuyPrice</div>
				<div class="fvalue"><%=dl["GrossBuyPrice"]%></div>
				<div style="clear:both"></div>
			</div>
			<div class="fline">
				<div class="fname">GrossProfitTotalBasePrice</div>
				<div class="fvalue"><%=dl["GrossProfitTotalBasePrice"]%></div>
				<div style="clear:both"></div>
			</div>	
			<div class="fline">
				<div class="fname">OpenAmount</div>
				<div class="fvalue"><%=dl["OpenAmount"]%></div>
				<div style="clear:both"></div>
			</div>
			<div class="fline">
				<div class="fname">ShipToDescription</div>
				<div class="fvalue"><%=dl["ShipToDescription"]%></div>
				<div style="clear:both"></div>
			</div>	
			<div class="fline">
				<div class="fname">ActualDeliveryDate</div>
				<div class="fvalue"><%=dl["ActualDeliveryDate"]%></div>
				<div style="clear:both"></div>
			</div>
		</div>
<% } %>
	</div> <!-- invoice_lines -->
<% end %>
</div><!-- invoice_content -->

<% end %>
<script>
//$(".fittext").fitText(0.8);
// $(".fittext").adjustFont();

</script>